tf-object_detection-mobilenet/*
tf-object_detection-mobilenet
tf-object_detection-yolov3/*
tf-object_detection-yolov3
threat-model/
*.params
*.zip
model-tfv2
.DS_Store
node_modules
.env
.idea
.idea/
.idea/workspace.xml
spoofv4

*.trueface.enc
*.enc
download_models
*.db

.env
